extends sidebar_layout

block main
  h1 常用正则表达式
    table.pure-table
      thead
        tr
          th #
          th 名称
      tbody
        tr
          td 1
          td: a(href="regitem/email_0") email


