doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/side-menu.css')
  body
    block content
    block public_script
      script(type="text/javascript",src="/javascripts/jquery-1.11.0.min.js")
    block script
