//
   Created by guoxc on 14-5-1.

extends sidebar_layout
block main
  div.header
    h1 所有正则表达式
  div.content#all-list
    table.pure-table
      thead
        tr
          th #
          th 名称
          th 用途
      tbody.list
        each val, index in regex_list
          tr
            td.index #{index}
            td.name
              a(href="regitem/#{val.id}") #{val.name}
            td.usage #{val.useage}
    ul.pagination.pure-paginator

block script
  script(type='text/javascript').
    var options = {
      valueNames: [ 'index', 'name', 'usage' ],
      page: 20,
      plugins: [
        ListPagination({})
      ]
    };
    var allList = new List('all-list', options);

