//
   Created by guoxc on 14-3-17.

div#menu
  div.pure-menu.pure-menu-open
    a.pure-menu-heading(href="/") 正则表达式权威参考
    a.pure-menu-children(href="/md_page/book_recommend") 书籍推荐
    a.pure-menu-childern(href="/md_page/ref_websites") 参考网站