body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#layout {
  padding: 0;
}
#sidebar {
  background: #333;
  height: 100%;
}
#sidebar .sidebar-menu {
  background: #333;
}
#main .header {
  margin: 20px auto;
  max-width: 768px;
}
#main .content {
  margin: 20px auto;
  max-width: 768px;
}
