body
  padding: 0
  margin : 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
#layout
  padding: 0
#sidebar
  .sidebar-menu
    background : #333333
  background : #333333
  height : 100%
